@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */
/* Use flex to make responsive interface for all kind of devices */

/* Styles for whole body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #8fe4f0;
    margin: 0;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  /* Styles for all buttons */
  .button-group, .control-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  /* Styles for pick from array buttons */
  .button-group button {
    flex: 1 1 2em; /* Allows buttons to grow and have a min-width */
    padding: 2em;
    margin: 1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
  /* Styles for control buttons */
  .control-group button {
    flex: 1 1 2em; /* Allows buttons to grow and have a min-width */
    padding: 2em;
    margin: 1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }

  
  /* Bright Colors for Array Buttons attractive to children */
  #actorBtn { background-color: #fa7171;} /* Red */
  #actionBtn { background-color: #efa052; } /* Orange */
  #adjectiveBtn { background-color: #FFD700; } /* Yellow */
  #objectBtn { background-color: #68e2a9; } /* Green */
  #placeBtn { background-color: #5dcde8; } /* Light Blue */
  
  /* Control Buttons with Different Shades */
  #generateBtn { background-color: #6fa8fd; } /* Blue */
  #speakBtn { background-color: #9163dc; } /* Indigo */
  #resetBtn { background-color: #e58de7; } /* pink */
  
  /* Styles for hover to make choosen button visible */
  button:hover {
    opacity: 0.5;
  }
  
  /* Styles for text box */
  #story {
    margin-top: 2em;
    padding: 2em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.1);
    width: 65%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }